<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/entry.css' %}?v={{ version }}">
    
    <title>WELCOME TO CLOUD NOTES</title>
</head>
<body>
    <main>

        <!--FORMS WRAPPER DIV-->
        <div class="formsdiv">
            <h2>CLOUD NOTES</h2>

            <!--SIGN UP FORM-->
            <form method="post" class="signinform">         
                {% csrf_token %}
                
                <h3>Sign In</h3>

                {% for field in signin_form %}
                
                <p>{{ field }}</p>
                
                {% endfor %}
                <p> </p>
                <button name="signin" value="signin" type="submit" class="submitbtn">Submit</button>
                <h4>New user?</h4>
                <button id="tosignupbtn">Sign Up Now</button>     
            </form>

            <!--SIGN UP FORM-->

            <form method="post" class="signupform">
                {% csrf_token %}

                <h3>Sign Up</h3>

                {% for field in signup_form %}
                <p> </p>
                {{ field }}

                {% endfor %}
                <p> </p>
                <button name="signup" value="signup" type="submit" class="submitbtn">Submit</button>
                <h4 class="h4margin">Already Signed Up?</h4>
                <button id="tosigninbtn">Sign In Now</button>
            </form>
        </div>

    <!--LINK TO JS-->
    {% load static %}
<script src="{% static 'js/entry.js' %}"></script>
</main>
</body>
</html>