{% load static %}
body {
    text-align:center;
    background-image: url('../imgs/bg.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
}

#signin{

}

#signup{}

#signinformdiv{}

#submitsigninbtn{}

#signupformdiv{}

#submitsigninbtn{}

#signupformdiv{}

#submitsignupbtn{}