<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/entry.css' %}?v={{ version }}">
    <title>WELCOME TO CLOUD NOTES</title>
</head>
<body>
    <main>
        <h1>WELCOME TO CLOUD NOTES</h1>

        <!--FORMS WRAPPER DIV-->
        <div class="formsdiv">

            <!--SIGN UP FORM-->
            <form method="post" class="signinform" id="signinform">         
                {% csrf_token %}
                
                <h3>Sign In</h3>

                {% for field in signin_form %}
                {{ field.label_tag }}
                <p>{{ field }}</p>
                
                <p> </p>
                <p class="" class="errormessage">{{ field.errors }}{{ field.errors }}</p>
                {% endfor %}
                <p> </p>
                <button name="signin" value="signin" type="submit" class="submitbtn">Submit</button>
                <h4>New user?   <button id="tosignupbtn">Sign Up Now</button></h4>     

            </form>

            <!--SIGN UP FORM-->

            <form method="post" class="signupform" id="signupform">
                {% csrf_token %}

                <h3>Sign Up</h3>

                {% for field in signup_form %}
                <p> </p>
                {{ field }}
                <p> </p>
                <p class="errormessage">{{ field.errors }}</p>
                {% endfor %}
                <p> </p>
                <button name="signup" value="signup" type="submit" class="submitbtn">Submit</button>
                <h4>Already Signed Up?   <button id="tosigninbtn">Sign In Now</button></h4>
            </form>
        </div>

<!--LINK TO JS-->
    {% load static %}
<script src="{% static 'js/entry.js' %}"></script>
</main>
</body>
</html>