<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/entry.css' %}">
    <title>WELCOME TO CLOUD NOTES</title>
</head>
<body>

    <main>
        <h1>WELCOME TO CLOUD NOTES</h1>

        <div id="signindiv">

            <form>

                <h3>Sign In</h3>
                <button>Sign Up</button>

                <input placeholder="Username" type="text" name="username">
            
                <input placeholder="Password" type="password" name="password">

                <button type="submit" id="submitsigninbtn">Sign In</button>

            </form>
        </div>

        <div id="signupdiv">

            <form class="hidden">

                <h3>Sign Up</h3>

                <input placeholder="Username" type="text" name="username">

                <input placeholder="Password" type="password" name="password">
            
                <input placeholder="Confirm Password" type="password" name="confirmpassword">

                <button type="submit" id="submitsignupbtn"></button>

            </form>
        </div>
    </main>

    {% load static %}
<script src="{% static 'js/entry.js' %}"></script>

</body>
</html>